<mat-card>
    <mat-card-title>
        {{lohateny}}
    </mat-card-title>
    <mat-card-content>
<!--        <mat-grid-list cols="2" >

<mat-grid-tile *ngFor="let hira of hiraHadika" [innerHTML]="hira.texte"><mat-form-field>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="2"
                          cdkAutosizeMaxRows="5">

                </textarea>
</mat-form-field></mat-grid-tile>


        </mat-grid-list>-->
        <mat-table  [dataSource]="hiraHadika" class="mat-elevation-z8 table">

            <!--<ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>
                <mat-cell *matCellDef="let element" [innerHTML]="element[column.id]">  </mat-cell>
            </ng-container>-->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="texte">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Gasy </mat-header-cell>
                <mat-cell *matCellDef="let element" [innerHTML]="element.texte"></mat-cell>
            </ng-container>
            <ng-container matColumnDef="texte_francais">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Frantsay </mat-header-cell>
                <mat-cell *matCellDef="let element" ><textarea matInput
                                                                                                   cdkTextareaAutosize
                                                                                                   cdkAutosizeMinRows="9"
                                                                                                   cdkAutosizeMaxRows="10" >{{element.texte_francais}}

                </textarea></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


            <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
            <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
        </mat-table>
    </mat-card-content>
</mat-card>