<td-layout>

        <mat-toolbar class="tool-bar" id="header-menu">
            <nav  mat-stretch-tabs mat-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
                <a mat-tab-link [active]="true" routerLink="/">
                    <span hide-xs>Liste chant</span>
                    <span hide-gt-xs><mat-icon>list</mat-icon></span>
                </a>
                <a mat-tab-link routerLink="/hira/1">
                    <span hide-xs>Traduire</span>
                    <span hide-gt-xs><mat-icon>keyboard</mat-icon></span>
                </a>
                <a mat-tab-link>
                    <span hide-xs>Statistique</span>
                    <span hide-gt-xs><mat-icon>assessment</mat-icon></span>
                </a>

            </nav>
        </mat-toolbar>
    <router-outlet></router-outlet>

</td-layout>
