.card{
    width: 400px;

}
.card:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    transform: scale(1.01);
    z-index: 999;
}
/deep/ .mat-card{
    padding: 12px !important;
    border-radius: 10px !important;
    margin: auto;
}
/deep/ html .mat-card {
    padding: auto !important;
    margin: 2px auto !important;
}